.profileBadge {
    display: flex;
    gap: 1rem;

    .imageProfile {
        width: 2.85rem;
        height: 2.85rem;
        border-radius: 50%;
        object-fit: fill;
    }

    &>div {
        display: flex;
        flex-direction: column;
        letter-spacing: 0rem;
        justify-content: center;

        span {
            font-size: .75rem;
        }
    }

}