.newPost {
    background-color: var(--bg-color-secondary);
    padding: 1.75rem 1rem;
    border-radius: .75rem;
    border: 0.5px solid rgba(255, 255, 255, 0.2);

    .inputArea {
        position: relative;

        textarea {
            width: 100%;
            min-height: 10.5rem;
            background-color: var(--bg-color-primary);
            border: none;
            resize: none;
            border-radius: .5rem;
            padding: 1rem;
            color: var(--text-color-primary);
            outline: 1px solid transparent;

            &::placeholder {
                font-size: 1rem;
                color: #ffffff57;
            }

            &:focus {
                outline-color: var(--surface-purple);
            }
        }

        .imagePost {
            width: 100%;
            background-color: var(--bg-color-primary);
            border-radius: .75rem;
        }

        .optionsWrapper {

            display: flex;
            gap: 1rem;
            margin-top: .5rem;

            .image {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                overflow: hidden;
                cursor: pointer;
                
                .imageIcon {
                    cursor: pointer;
                    width: 100%;
                    opacity: .7;
                }
                
                input[type="file"] {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    border-radius: 50%;
                    pointer-events: none;
                }
            }

        }

    }


    .sendPost {
        margin-top: 1rem;
    }

}