.container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 1140px;
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        min-width: 800px;
    }
}
