* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #222226;
    --bg-color-secondary: #121214;
    --bg-color-tertiary: #1E1E1E;

    --surface-purple: #8538F2;
    --text-color-primary: #fff;
}

body {
    background-color: var(--bg-color-primary);
    font-size: 1rem;
    color: var(--text-color-primary);
    padding-inline: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2.5rem;
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
}